<div class="bg-customYellow1 text-black min-h-screen">
  <div class="container mx-auto px-5 py-8">
    <div class="bg-customYellow1 rounded-xl border-0 px-10 pt-10 pb-6 sm:mx-40 md:mx-40 lg:mx-40 xl:mx-96">
      <h2 class="text-3xl font-bold text-center py-4">ユーザー登録</h2>
      <div class="flex flex-col border-t-2 border-customGreen1">
        <%= form_with model: @user, url: users_path do |f| %>
          <div class="field mx-1 my-10">
            <%= f.label :name %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>

          <div class="field mb-10">
            <%= f.label :email %><br>
            <%= f.email_field :email, autocomplete: "email", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>

          <div class="field mb-10">
            <%= f.label :password %><br>
            <%= f.password_field :password, autocomplete: "new-password", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>

          <div class="field mb-10">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>

          <div class="actions text-center rounded-xl bg-customYellow3 py-3 px-4 mb-5 transition ease-in-out hover:bg-customYellow4 hover:drop-shadow-lg hover:-translate-y-1">
            <%= f.submit "登録" %>
          </div>
        <% end %>
        <div class="text-center my-8">
          <%= link_to "ログインはこちら", login_path, class: "link-hover" %>
        </div>
      </div>
    </div>
  </div>
</div>
