<body>
  <div class="min-h-screen flex flex-col justify-center items-center">
    <div class="container mx-auto px-10">
      <header class="text-center my-12">
        <h1 class="text-4xl"><%= t(".title") %></h1>
      </header>
      <section>
        <div class="grid grid-cols-1 gap-4 mb-20">
          <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
            <%= image_tag "gorilla1.png", size: "800x800", class:"mx-auto" %>
            <h2 class="text-xl md:text-2xl mb-3 text-center">「 <%= current_user.name %>さん、今日もお疲れ様ウホッ！ 」</h2>
            <h2 class="text-base md:text-lg mt-20 text-center">「<%= @training_record.bot_content %>」</h2>
            <div class="pt-20 text-center">
              <%= link_to raw('<i class="fa-brands fa-x-twitter"></i> で共有するウホッ！'),
                "https://twitter.com/intent/tweet?text=【 本日のアイゴリ君のお言葉 】%0a%0a「#{ERB::Util.url_encode(@training_record.bot_content)}」&hashtags=トレゴリ&url=http://localhost:3000",
                target: '_blank',
                class: "inline-block actions rounded-lg bg-customBlue2 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-customBlue3 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95" %>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="grid grid-cols-1 gap-4 mb-20">
          <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
            <%= image_tag "banana.png", size: "300x300", class:"mx-auto" %>
            <h1 class="text-xl md:text-2xl mb-3 text-center">本日のバナナをGETしたウホ！</h1>
            <div class="pt-20 text-center">
              <%= link_to "『ゴリガチャ』を引きにいくウホッ", new_gacha_path, class: "inline-block actions rounded-lg bg-customYellow3 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-customYellow4 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-customYellow4" %>
            </div>
          </div>
        </div>
      </section>
      <div class="py-10 text-center">
        <%= link_to "ホーム画面へ戻る", training_records_path, class: "inline-block actions rounded-lg bg-gray-400 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-gray-500 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-gray-500" %>
      </div>
    </div>
  </div>
</body>
