<header class="bg-customBlue1 flex flex-row justify-between items-center h-20 relative text-white font-gorilla">
  <!-- ロゴ部分 -->
  <div class="ml-4 md:mx-5 hover:text-blue-600 transition duration-300 text-lg">
    <%= link_to "トレゴリ", "/" %>
  </div>

  <!-- 所持バナナ数の表示部分 -->
  <div class="absolute left-1/2 transform -translate-x-1/2">
    <p class="text-sm inline">
      <%= image_tag 'callendar_banana.png', alt: 'banana', class: 'inline rounded-full', size: "40x40" %>所持数：<%= current_user.number_of_banana&.count %> 本
    </p>
  </div>

  <!-- リンク部分 -->
  <div class="flex items-center space-x-3 lg:mx-5">
    <%= link_to training_records_path, class: 'hover:text-blue-600 transition duration-300 hidden lg:flex lg:flex-col px-2' do %>
      <p class="text-sm"><%= t "defaults.home" %></p>
    <% end %>
    <%= link_to new_gacha_path, class: 'hover:text-blue-600 transition duration-300 hidden lg:flex lg:flex-col px-2' do %>
      <p class="text-sm"><%= t "defaults.gacha" %></p>
    <% end %>
    <%= link_to user_albums_path(current_user), class: 'hover:text-blue-600 transition duration-300 hidden lg:flex lg:flex-col px-2' do %>
      <p class="text-sm"><%= t "defaults.album" %></p>
    <% end %>
    <%= link_to users_profiles_path, class: 'hover:text-blue-600 transition duration-300 hidden lg:flex lg:flex-col px-2' do %>
      <p class="text-sm"><%= t "defaults.profile" %></p>
    <% end %>
    <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトするウホ？" }, class: 'btn btn-ghost flex items-center mx-2' do %>
      <p class="text-sm"><%= t ".logout" %></p>
    <% end %>
    <!-- サイドバーメニュー -->
    <div class="drawer drawer-end lg:hidden">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer-4" class="drawer-button btn btn-ghost md:mx-5">
          <i class="fas fa-bars fa-2x"></i>
        </label>
      </div>
      <div class="drawer-side z-10">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="bg-customBlue1 dropdown-content z-[1] menu p-4 w-56 min-h-full">
          <li class="hover:rounded-xl mt-4">
            <%= link_to training_records_path, class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm"><%= t "defaults.home" %></p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to new_gacha_path, class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm"><%= t "defaults.gacha" %></p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to user_albums_path(current_user), class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm"><%= t "defaults.album" %></p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to users_profiles_path, class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm"><%= t "defaults.profile" %></p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトするウホ？" }, class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm"><%= t ".logout" %></p>
            <% end %>
          </li>
        </ul>
      </details>
    </nav>
  </div>
</header>