<% content_for(:title, t('defaults.album')) %>
<div class="min-h-screen flex flex-col justify-center items-center">
  <div class="container mx-auto px-10">
    <header class="text-center my-12">
      <h1 class="text-4xl"><%= t("defaults.album") %></h1>
    </header>
    <section>
      <% if @illustrations.empty? %>
        <div class="grid grid-cols-1 gap-4 mb-20">
          <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
            <%= image_tag "sad_gorilla.png", size: "500x500", class:"mx-auto" %>
            <h1 class="text-xl md:text-2xl text-center my-10">
              まだイラストを持ってないウホ...<br>
              まずは『ゴリガチャ』を引きにいくウホッ！
            </h1>
            <div class="pt-10 text-center">
              <%= link_to "『ゴリガチャ』を引きにいくウホッ", new_gacha_path, class: "inline-block actions rounded-lg bg-customYellow3 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-customYellow4 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-customYellow4" %>
            </div>
          </div>
        </div>
      <% else %>
        <div data-controller="album-modal">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-20">
            <% @illustrations.each do |illustration| %>
              <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
                <h1 class="text-xl md:text-2xl text-center mb-10">《 Gorilla No. <%= illustration.id %> 》</h1>
                <%= image_tag illustration.image_url, alt: illustration.title, size: "850x850", class:"mx-auto" %>
                <div class="pt-20 text-center">
                  <%= link_to "イラスト説明", "#",
                    class: "inline-block actions rounded-lg bg-customYellow3 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-customYellow4 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-customYellow4",
                    data: { action: "click->album-modal#openModal", "illustration-id": illustration.id } %>
                </div>
              </div>
              <%= render 'show', illustration: illustration %>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
    <div class="py-10 text-center">
      <%= link_to "ホーム画面へ戻る", training_records_path, class: "inline-block actions rounded-lg bg-gray-400 py-3 px-4 mb-5 w-68 transition ease-in-out hover:bg-gray-500 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-gray-500" %>
    </div>
  </div>
</div>
