<%= turbo_frame_tag "album_modal" do %>
  <div class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center" data-controller="album_modal" data-album-modal-target="backGround" data-action="click->album_modal#closeBackground">
    <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white" data-album-modal-target="albumModal">
      <header class="text-center my-12">
        <h1 class="text-4xl"><%= t(".title") %></h1>
      </header>
      <section>
        <div class="grid grid-cols-1 gap-4 mb-20">
          <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
            <%= image_tag @illustration.image_url, alt: @illustration.title, size: "800x800", class:"mx-auto" %>
            <h2 class="text-2xl md:text-3xl mt-20 text-center">《 Gorilla No. <%= @illustration.id %> 》</h2>
            <h2 class="text-xl md:text-2xl mt-8 text-center">『 <%= @illustration.title %> 』</h2>
            <h2 class="text-lg md:text-xl my-20 text-center">「<%= @illustration.description %>」</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>
