<div class="text-black min-h-screen">
  <div class="container mx-auto px-5 py-8">
    <div class="rounded-xl border-0 px-10 pt-10 pb-6 sm:mx-40 md:mx-40 lg:mx-40 xl:mx-96">
      <h2 class="text-3xl font-bold text-center py-4"><%= t "defaults.user_login" %></h2>
      <div class="flex flex-col border-t-2 border-customGreen1">
        <%= form_with url: login_path do |f| %>
          <div class="field mx-1 my-10 text-sm md:text-base">
            <%= f.label :email, User.human_attribute_name(:email) %><br>
            <%= f.email_field :email, autocomplete: "email", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>
          <div class="field mb-10 text-sm md:text-base">
            <%= f.label :password, User.human_attribute_name(:password) %><br>
            <%= f.password_field :password, autocomplete: "new-password", class: "w-full border-2 border-customGreen1 rounded-xl bg-white py-3 px-5" %>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="actions text-center rounded-lg bg-customYellow3 py-3 px-4 mb-5 w-64 transition ease-in-out hover:bg-customYellow4 hover:drop-shadow-lg hover:-translate-y-1 active:scale-95 active:bg-customYellow4">
              <span class="text-black font-semibold"><%= t "defaults.user_login" %></span>
            </button>
          </div>
        <% end %>
        <div class="text-center my-8">
          <%= link_to t(".register_link"), new_user_path, class: "link-hover" %>
        </div>
        <div class="text-center my-3">
          <%= link_to t(".password_reset"), "#", class: "link-hover" %>
        </div>
        <div class="flex flex-col w-full my-6">
          <div class="divider divider-neutral ">OR</div>
        </div>
        <div class="text-center my-3">
          <%= link_to 'Login with Google', auth_at_provider_path(provider: :google), class: "link-hover" %>
        </div>
      </div>
    </div>
  </div>
</div>
