<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <meta name="turbo-title" content="<%= page_title(yield(:title)) %>">
    <script src="https://kit.fontawesome.com/fc70459a87.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <link href="<%= image_path("apple-touch-icon.png") %>" rel="apple-touch-icon" sizes="180x180" type="image/png" />
    <link href="<%= image_path("android-touch-icon.png") %>" rel="icon" sizes="192x192" type="image/png" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DMX9CE4K3K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DMX9CE4K3K');
    </script>
  </head>

  <body>
    <div class="bg-customPaper min-h-screen text-black font-gorilla">
      <% if logged_in? %>
        <%= render "shared/login_header" %>
      <% else %>
        <%= render "shared/before_login_header" %>
      <% end %>
      <%= render "shared/flash_message" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
